{
  "extends": [
    "standard",
    "prettier",
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb"
  ],
  "plugins": ["standard", "prettier"],

  "rules": {
    "no-var": "error",
    "arrow-spacing": ["error", { "before": true, "after": true }],
    "quotes": ["error", "single", { "avoidEscape": true }],
    "standard/object-curly-even-spacing": ["error", "either"],
    "standard/array-bracket-even-spacing": ["error", "either"],
    "standard/computed-property-even-spacing": ["error", "even"],
    "standard/no-callback-literal": ["error", ["cb", "callback"]],
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "jsx-quotes": ["error", "prefer-single"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "semi": 0,
    "no-underscore-dangle": 0,
    "react/no-array-index-key": 0,
    "no-restricted-syntax": 0,
    "react/no-unused-prop-types": 0,
    "react/prop-types": 0,
    "max-len": 0,
    "no-undef": 1,
    "react/require-default-props": 0,
    "react/forbid-prop-types": 0,
    "no-console": 0,
    "react/sort-comp": 0,
    "no-nested-ternary": 0,
    "no-param-reassign": 0,
    "react/destructuring-assignment": 0,
    "import/prefer-default-export": 0,
    "react/no-unescaped-entities": 0,
    "import/no-dynamic-require": 0,
    "react/no-danger": 0,
    "react/jsx-closing-bracket-location": [1, "tag-aligned"],
    "import/no-cycle": 0,
    "prettier/prettier": 0,
    "react/display-name": 0
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 8
  },
  "globals": {
    "analytics": true,
    "_GUARANTEE": true
  },
  "settings": {
    "polyfills": []
  },
  "env": {
    "browser": true
  }
}
